<footer class="bg-violet-300 mt-64 p-32">
     <p class="text-[#0f1729] text-center max-w-prose mx-auto">&#169; 2025 Made with <span>&#x2764;</span> and <a href="https://www.11ty.dev/">11ty</a>!</p>
</footer>