<header class="container flex justify-between mx-auto p-16 pb-32">
    <a href="/" class="text-base underline underline-offset-8 decoration-[#36ffe5] ">
        100 Days of Accessibility
    </a>
    <nav>
        <ul>
            <li class="text-base text-[#16b6ff]">
                <a href="/" class="transition ease-in-out hover:underline underline-offset-8 hover:text-white">Back to all posts</a>
            </li>
        </ul>
    </nav>
</header>