<li class="flex justify-between transition ease-in-out p-8 border-b-0 hover:text-[#36ffe5] hover:border-dashed hover:border-b-2 hover:border-violet-400">
    <div>
        <a class="text-base md:text-[2rem]" href="{{post.url}}">{{post.data.title}}</a>
        <p class="text-[#16b6ff] my-2 ">{{post.data.postDate}}</p>
    </div>

    
</li>