---
title: A11y as the Rule, Not the Exception 
postDate: "28 December 2025"
tags: 
    - cpacc
    - basics
---

<section class="flex flex-col items-center">
    {# <h3 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 pb-8">The Diversity of Ability</h3> #}
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Disabilities are more common than you think. Roughly 1 in 5 people has a disability of some kind. Sometimes a person's disability is immediately obvious, like blindness or someone in a wheelchair. Other times, it may not be as easily recognizable. How would you know that someone you pass on the street has a reading disorder? You probably wouldn't until a situation arose that revealed it.</p>
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">There's a good chance that we'll all experience a disability at some point in our lives. Sometimes disabilities are temporary, like when someone breaks an arm or a recent surgery prevents movement. Disabilities are also age-dependent. Our sight, hearing, cognition and mobility are all affected by the aging process. As we get older, or abilities diminish. This is a normal part of what it means to be a human.</p>
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">But not all disabilities affect a person's ability to use the web. As web developers, we are concerned with disabilities that affect a persons sight, hearing, and cognition.</p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 pt-16 pb-8">A11y Matters</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Printed materials are everywhere - from product packaging, business cards, postal mail, and signs. Anyone with a visual disability will not be able to read these materials. Historically, blind people relied on others to read to them, record information, or create braille copies. But these options can be limited to having someone willing and able to read or record information for you. Screen readers and digital text offer a more independent way for blind people to access information, but only when digital resources are accessible in the first place.</p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 pt-16 pb-8">Assistive Technologies</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Assistive technologies are used by people to help compensate for a lack in ability in certain areas. Typically when people think about assistive technology, many think about wheelchairs, hearing aids, and canes. However, glasses and contacts are another type of common assistive technology - often used by people who don't consider themselves to be disabled.</p> 

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Some assistive technologies invented to help those with disablilties access the web are:
    </p> 

    <ul class="list-disc text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">
        <li>screen readers</li>
        <li>refreshable braille devices</li>
        <li>screen enlargers</li>
        <li>color enhancement overlays</li>
        <li>captions and transcripts</li>
        <li>head wands or mouth sticks</li>
        <li>eye gaze tracking</li>
        <li>voice activation</li>
    </ul>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Assistive technologies are helpful, but they don't solve every obstacle a person might encounter. This is especially true if the person creating the content does not create them with accessibility in mind. It is up to us as developers to put accessibility at the forefront.  
    </p> 



</section>
{#  

#Our Diverse Abilities

🌐 https://dequeuniversity.com/class/iaap-cpacc-2.0/basic-concepts/our-diverse-abilities
🔗 https://app.web-highlights.com/page/69518a2ff2b6e2245b863a09

**Highlights & Notes**

> 1 in every 5 people (about 20%) has a disability of some kind

> Recognizable Disabilities

> Hidden Disabilities

> Temporary Disabilities

> Age-Related Disabilities

> disabilities in the eyes, ears, hands, and brain - is what web a11y is most concerned with

> Not all disabilities affect a person's ability to use the web

![Cover Image of https://dequeuniversity.com/class/iaap-cpacc-2.0/basic-concepts/accessibility-matters](https://web-highlights.com/images/fallback-image.png?auto=format&w=600&fm=auto)

  
# Accessibility Matters

🌐 https://dequeuniversity.com/class/iaap-cpacc-2.0/basic-concepts/accessibility-matters
🔗 https://app.web-highlights.com/page/69518b9801a49374bd14cf44


**Highlights & Notes**

> Blind people can't read printed materials

> Printed materials are everywhere, so print disabilities can be a big problem

> A blind person cannot quickly or easily access the information in newspapers independently

> Screen readers, as these software programs are called, allow blind people to access information independently, without having to have direct assistance from anyone else

> But Only if the Content is Accessible

> The potential for access is clearly before us, but many digital resources were not created with accessibility in mind.

![Cover Image of https://dequeuniversity.com/class/iaap-cpacc-2.0/basic-concepts/assistive-technologies](https://web-highlights.com/images/fallback-image.png?auto=format&w=600&fm=auto)

  
# Assistive Technologies

🌐 https://dequeuniversity.com/class/iaap-cpacc-2.0/basic-concepts/assistive-technologies
🔗 https://app.web-highlights.com/page/69518c26a7d3e046e2adcf13


**Highlights & Notes**

> Disabilities and Assistive Technologies

> Assistive Technologies

> Technologies designed specifically for people with disabilities are often referred to as assistive technologies

> wheelchair.

> hearing aid.

> canes

> Glasses and contacts are assistive technologies.

> Assistive Technologies and the Web

> even though assistive technologies exist, they do not completely compensate for the disability

> Assistive technologies are extremely valuable, but the people who create the environments must create them with accessibility in mind in order for the assistive technologies to be most effective.
#}