---
title: The Charity or Tragedy Model of Disability
postDate: "5 January 2026"
tags: 
    - theoretical model
---

<section class="flex flex-col">

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">The Charity or Tragedy Model treats disability as an unfortunate condition, and that people with disabilities need outside help. Those that provide the charity take pity on those with disabilities and set up fundraisers and charities to help improve the conditions of the disabled. In doing so, these people are viewed as kind and philanthropic. This approach can be offensive to many people with disabilities, even if the end result is helpful. The offensive part is the attitudes and assumptions; those without disabilities are the givers and are "fortunate", those with disabilities are receivers and "unfortunate". This creates an uneuqal power dynamic.</p>
    
    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 pt-16 pb-8">Strengths of the Charity/Tragedy Model</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">The model can create empathy in those without disabilities and inspire them to genuinely assist people with disabilities.</p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 pt-16 pb-8">Weaknesses of the Charity/Tragedy Model</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">The model can encourage unequal social and political relationships between people which ultimately slow progress for people with disabilities as a whole.</p>

</section>