---
title: Disability Statistics
postDate: "20 January 2026"
tags: 
    - statistics
---

<section class="flex flex-col">
  
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">It is estimated that between 10% to 20% of people experience a disability, depending on the survey methodology, definition of the word "disability" and other factors. That's roughly 700 million to 1.4 billion people worldwide. It's important to understand disabilities on an individual level, but it can be helpful to see the wider picture when it comes to the quality of life, economic opportunities, and levels of poverty in those living with disabilities. The World Health Organization's <a class="underline underline-offset-8 text-violet-400 hover:text-white" href="https://www.who.int/publications/i/item/9789241564182"><em>World Report on Disability</em></a> outlines these trends.</p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Why Disability Statistics Are Variable</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Here are some reasons why statistics on disabilities vary from place to place:</p>

    <ul class="list-disc text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8 ml-8">
        <li class="mb-4">differences in how "disability" is defined&mdash;results and percentages will depend on how narrowly or broadly the definition is.</li>
        <li class="mb-4">differences in data collection&mdash;wide variance is caused by weather or not the survey relies on people to report their own disability, if the reporting results in government assistance, or may result in negative social stigma. Wording of the question can also result in lower accuracy.</li>
        <li class="mb-4">political/public relations bias&mdash;fear of unfavorable press can deter a country or organization from reporting accurate numbers.</li>
        <li class="mb-4">comparing stats across countries becomes difficult to assess because of these reasons</li>
        
    </ul>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Education Levels & Literacy</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">People with disabilities tend to be less educated than the general population. Often the education system isn't equipped to handle students with disabilities, or in the case of individuals with severe disabilities, the individual may not be capable of completing a traditional education. As a consequence, people with disabilities may not qualified for the same job as their non-disabled peers, leading to a cycle of poverty that can be extremely difficult to overcome.</p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Employment Rates</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Workplace discrimination and inaccessible environments often reduce employment opportunities for people with disabilities. As a result people with disabilities tend to be underrepresented in the workplace. Only a minority of people with disabilities live with a condition that severely limits their ability to work. The reality is that most people with disabilities are willing and able to perform in the job market.  </p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Poverty & Disabilities</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Disabilities can be expensive for both the caregiver and the person with the disability. Electric wheelchairs can cost between $2,000 - $30,000, not including maintenance and repairs. Beyond that, a person may need help with daily tasks, both at home and the workplace. The cost of living and doing simple tasks can be significantly higher for someone with disabilities. Many people who need supportive services can not afford them; the result is that a large portion of people with disabilities live near the poverty line. </p>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">In the US, people with disabilities are twice as likely to live in poverty than the general population. The situation is much worse in poorer countries. </p>



   
    




    


    

</section>