---
title: Disability Etiquette
postDate: "02 February 2026"
tags: 
    - etiquette
---

<section class="flex flex-col">

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mb-8">Use People-First Language</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Be sure to use people-first language when referring to a person with disabilities. Use terms like "people with disabilities", "condition", "people who are blind", "people who are deaf". Some people prefer to use identity-first language. For example, "autistic individual" instead of "person with autism". If unsure, always ask about their preferences.</p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Address People Directly</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">If someone has a companion or interpreter with them, the person with the disability should be acknowledged directly. When speaking to someone in a wheelchair, consider sitting in a chair or stepping back when engaging in longer conversations to allow the person in the wheelchair to maintain eye contact without putting stress on their neck.</p>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">When addressing people with disabilities, avoid:</p>

     <ul class="list-disc text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8 ml-8">
        <li class="mb-4">raising voice or talking as if to a child</li>
        <li class="mb-4">interrupting someone with a speech disability or finishing sentences for them</li>
        <li class="mb-4">putting your hands near your mouth when communicating with someone who is deaf or heard of hearing</li>
        <li class="mb-4">playing guess who games with people who are blind</li>
        <li class="mb-4">speaking to a support worker of a person with a disability when the conversation is directed at the person with the disability</li>
    </ul>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Don't Assume People with Disabilities Need Help</h2>
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">There is no need to help a person without their permission, don't assume they need help without asking. If the person rejects your help, don't take offense&mdash;they may be trying to see if they can perform the task on their own. Of course if it's truly obvious the person needs help&mdash;like a blind person who may have unknowingly dropped something, then help! There's nothing wrong with a friendly "hello" to acknowledge another persons presence. </p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Service Animals</h2>
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Service animals like guide dogs are doing a job. When they're working, do not pet, play, feed or draw their attention in any way. Distracting the animal can make it hard for the owner to control the animal's actions, which reduces how useful they are to their owner. This can lead to dangerous situations for the owner if the animal is not paying attention in risky situations. Do not interact with the service animal without the owners permission.</p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Respect People's Personal Space</h2>
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">People who use assistive devices, like canes or wheelchairs, consider these devices part of their personal space. Do not touch the device. </p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Everyone is Different</h2>
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Of course, the etiquette discussed here is the preferred behavior when interacting with people with disabilities. But it's important to note that what's considered appropriate differs from person to person. For example, some people may find the term "handicapped" offensive while others do not. If ever in doubt, it's always best to ask the person what they prefer. </p>



</section>