---
title: The Functional Solutions Model of Disability
postDate: "5 January 2026"
tags: 
    - theoretical model
---

<section class="flex flex-col">

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">The Functional Solutions Model of Disability identifies the functional limitations of a disability and looks for solutions to remove those limitations through technology. The main focus is on applying innovations to overcome the limitations of disabilities. Many companies that create and sell accessibility solutions will adopt the functional solutions approach. For example, if a person doesn't have use of their hands, the company creates a device to help them open doors, turn pages in a book, pour milk, or cut food on a plate. </p>
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Similarly, accessibility professionals are interested in functional solutions to accessibility problems.</p>
    
    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 pt-16 pb-8">Strengths of the Functional Solutions Model</h2>
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">The Functional Solutions Model is results driven. It seeks to provide real-world solutions to help people overcome real limitations. The model emphasizes building accessible environments and getting things done. </p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 pt-16 pb-8">Weaknesses of the Functional Solutions Model</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">In the Functional Solutions model it can be easy to put profits over the needs of people. Resulting products can be innovative but not useful or practical. Expensive technology can leave out those who can't afford it. Focusing too heavily on technology alone to overcome a disability limitation can overlook the social, political and environmental barriers that people face.</p>

</section>