---
title: The Medical Model of Disability
postDate: "29 December 2025"
tags: 
    - theoretical model
---

<section class="flex flex-col">
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">In the Medical Model of Disability, a persons disability is a problem caused by a medically-diagnosed disease, trauma genetic disorder, or other medical condition. Disability is defined in terms of biological limitations that lower a persons quality of life. Their disabled bodies are defined as something that needs to be corrected, changed or cured with professional medical care.</p>
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Legal definitions of disability are reliant on the assumptions made by the medical model. This means that only once a person reaches a certain threshold of limitation, are they then legally disabled. Often this legal definition decides whether a person receives accommodations in the workplace, school or government benefits.</p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 pt-16 pb-8">Strengths of the Medical Model</h2>
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">The strength of the Medical Model is that it acknowledges that the persons biological condition places them at a disadvantage. Medical professionals are then able to use a clearly defined set of criteria to diagnose a persons condition and make informed decisions about their treatment. The same can be said about who is able to receive government benefits; only those who meet the clearly-defined set of criteria.</p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 pt-16 pb-8">Weaknesses of the Medical Model</h2>
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">There are many weaknesses to this theoretical model:</p>

    <ol class="list-decimal text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8 ml-8">
        <li class="mb-8 ">Focus is exclusively on the biology of the person and overlooks the impact of design decisions in the built environment. A person without the use of their legs isn't at fault for a building being designed with only stairs instead of ramps and elevators.</li>
        <li class="mb-8 ">A person is labeled as "disabled", stigmatizing the person as different or "less than" others. This has a psychological impact.</li>
        <li class="mb-8 ">Using medical definitions to determine who is "worthy" of benefits only leaves out people who don't fit the critera, but may really need the help. Definitions can be too narrow or exclusive for some people with disabilities.</li>
        <li class="mb-8 ">Having to continually prove your disability adds inconvenient bureaucracy, is time consuming and dehumanizing.</li>
    </ol>

    <div class="bg-[#141f39] rounded-lg italic text-[#cecece] px-8">

        <blockquote class="text-lg/8 my-12 max-w-prose mx-auto">From the US National Institutes of Health: “One result of the common medical understanding of disability is that people with disabilities often report feeling excluded, undervalued, pressured to fit a questionable norm, and/or treated as if they were globally incapacitated. People with disabilities often express frustration when they are met with pitying attitudes or incredulity if they speak about anything positive related to living with their conditions.”
        </blockquote>

    </div>

   

</section>