---
title: This is the Third Post
postDate: "11 November 2025"
tags: 
    - cpacc
    - a11y
    - 100 days of a11y
---

<section class="flex flex-col items-center">
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">It's happening, as I hoped it would. As I mentioned in my last post about passing the WAS exam, my intention following that certification was to move forward and take IAAP's Certified Professional in Accessibility Core Competencies (CPACC) certification exam. I'm looking hard at their Certified Professional in Web Accessibility (CPWA) credential, which happens when both the CPACC and WAS exams have been passed. I'm halfway there, and want them all acquired by 2020.</p>
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Unlike the 100 days that I spent studying for WAS, I'm less stressed about this next exam, even though it's stepping outside of my role as a developer. This past year and a half, I've been overseeing an accessibility audit at my place of employment, and now carry the torch of educating and enforcing web and digital accessibility. I feel there is a lot of value in firming up my knowledge of the "core competencies" of accessibility. My last journey opened up many opportunities to advocate for accessibility, and I'm hoping this journey will be no exception.</p>
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Just as IAAP's WAS certification offered me a roadmap to learn the processes and technicalities of web accessibility, I'm trusting that their CPACC Body of Knowledge combined with Deque's CPACC Certification Preparation will afford me the same confidence. I want to keep moving forward in accessibility and teaching others about it. This is the best way I know how.</p>

</section>