---
title: The Social Model of Disability
postDate: "1 January 2026"
tags: 
    - theoretical model
---

<section class="flex flex-col">
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">The Social Model of Disability is a direct response to the Medical Model. Instead of the person's disability being thought of as the problem, the Social Model points to society as thing that creates problems for disabled people. Essentially, poor design causes disability. The Social Model points to inclusive design as a way to remove barriers for people so that they can participate in society in a meaningful way. As web developers we should do our part to ensure that the products we create enable people with different physical abilities.</p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 pt-16 pb-8">Strengths of the Social Model</h2>
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Strengths of the Social Model includes:</p>

    <ol class="list-decimal text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8 ml-8">
        <li class="mb-8">Empowering people with disabilities by removing the stigma associated with a physical disability. The model expects society to choose more inclusive designs, instead of forcing people with disabilities to conform to what is considered "normal".</li>
        <li class="mb-8">Empowering designers to think broadly about all different types of human ability. Often the result is a design that is better for everyone.</li>
        <li class="mb-8">In the long term, society is more welcoming and just, providing a higher quality of life for all.</li>
    </ol>
    
    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 pt-16 pb-8">Weaknesses of the Social Model</h2>
    
    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Even though the Social Model works to remove the limited focus of the Medical Model, some disability advocates argue that in the Social Model, the reality of physical disabilities can be under emphasized. For many people, their disability is a part of their identity and believe that it's something that should be celebrated not covered up. The Social Identity Model of Disability is one answer to this criticism. </p>

</section>