---
title: Types of Disabilities - Part 1
postDate: "7 January 2026"
tags: 
    - blindness
    - low vision
    - color blindness
    - deafblindness
    - auditory
    - mobility
    - flexibility
    - body structure
---

<section class="flex flex-col">

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">According to the CPACC Body of Knowledge, there are 13 different types of disabilities that affect a person's ability to use the internet. For brevity, I'll split this section of the exam prep into two parts. In this Part 1, I'll discuss the following types:</p>

    <ul class="list-disc text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8 ml-8">
        <li class="mb-4">Blindness</li>
        <li class="mb-4">Low Vision</li>
        <li class="mb-4">Color-Blindness</li>
        <li class="mb-4">Deafblindness</li>
        <li class="mb-4">Auditory</li>
        <li class="mb-4">Mobility, Flexibility, and Body Structure</li>
    </ul>
    
    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-16 mb-8">Blindness</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Blindness can be defined as sightlessness or loss of vision. However, the tern blindness doesn't always refer to a loss of vision. It may also refer to partial blindness, or when a persons vision is extremely limited.</p>

    <h3 class="text-center text-xl md:text-xl lg:text-3xl text-violet-400 mt-8 mb-8">Causes of Blindness</h3>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">There are several causes of blindness (not limited to):</p>

    <ul class="list-disc text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8 ml-8">
        <li class="mb-4">Diabetes</li>
        <li class="mb-4">Macular Degeneration</li>
        <li class="mb-4">Glaucoma</li>
        <li class="mb-4">Accidents or injury to the eye</li>
        <li class="mb-4">Stroke</li>
        <li class="mb-4">Retinitis Pigmentosa</li>
    </ul>

    <h3 class="text-center text-xl md:text-xl lg:text-3xl text-violet-400 mt-8 mb-8">Legal Definition of Blindness</h3>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">In the US, there is a legal definition of blindness that is used to determine whether someone can receive benefits and participate in certain programs for schooling or vocational training, assistive devices, and tax exemption. This definition isn't intended to provide information about what a person can or can not see. According to this definition, a person is considered legally blind if they have a visual acuity of 20/200 with corrective lenses or if their field of vision is 20 degrees in the eye that has the best vision.</p>
    
    <h3 class="text-center text-xl md:text-xl lg:text-3xl text-violet-400 mt-8 mb-8">Challenges & Solutions for People Who Are Blind</h3>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Blind people use screen readers to get information from the web. Screen readers are software that are designed to turn text into speech. Blind people listen to the web. </p>

    <table class="text-lg/loose md:text-xl/loose lg:text-2xl/loose">
        <caption class="text-[#16b6ff] bg-[#141f39] rounded-lg mb-4">Digital Environments</caption>
        <thead class="border-y">
            <tr>
                <th class="border-r w-1/2">Challenge</th>
                <th>Solutions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Cannot see digital interfaces</td>
                <td class="p-8">
                    <ul class="list-disc ml-8">
                        <li>screen readers</li>
                        <li>self-voicing interfaces</li>
                        <li>refreshable braille</li>
                    </ul>
                </td>
            </tr>
            <tr class="border-b ">
                <td class="border-r w-1/2 p-8">Content and interfaces are not accessible</td>
                <td class="p-8">Developers and designers can use sematic HTML and universal design techniques to make websites compatible with assistive technologies</td>
            </tr>
        </tbody>
    </table>

    <table class="text-lg/loose md:text-xl/loose lg:text-2xl/loose mt-32">
        <caption class="text-[#16b6ff] bg-[#141f39] rounded-lg mb-4">Physical Environments</caption>
        <thead class="border-y">
            <tr>
                <th class="border-r w-1/2">Challenge</th>
                <th>Solutions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Cannot see when walking</td>
                <td class="p-8">
                    <ul class="list-disc ml-8">
                        <li>a cane to "feel" their surroundings</li>
                        <li>service animals</li>
                        <li>GPS-based walking instructions with audio</li>
                        <li>raised tiles on edges of stairs, platforms, pathways, and sidewalks</li>
                        <li>remove low-hanging architecture that people can bump into</li>
                        <li>keep pathways clear</li>
                    </ul>
                </td>
            </tr>
            <tr class="border-b ">
                <td class="border-r w-1/2 p-8">Cannot see signs or text on buildings</td>
                <td class="p-8">
                     <ul class="list-disc ml-8">
                        <li>tactile maps to help people form a metal map</li>
                        <li>map and geolocation apps on mobile devices</li>
                        <li>braille labels on entrances, bathrooms, rooms, markers and POIs</li>
                        <li>raised tiles on edges of stairs, platforms, pathways, and sidewalks</li>
                        <li>AI tools can provide descriptions of text, people, currency, and other objects</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

     <table class="text-lg/loose md:text-xl/loose lg:text-2xl/loose mt-32">
        <caption class="text-[#16b6ff] bg-[#141f39] rounded-lg mb-4">Consumer Products</caption>
        <thead class="border-y">
            <tr>
                <th class="border-r w-1/2">Challenge</th>
                <th>Solutions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Flat surfaces on microwaves, ovens, and dishwashers</td>
                <td class="p-8">
                    <ul class="list-disc ml-8">
                        <li>alternative interfaces with knobs or tactile controls</li>
                        <li>audio interfaces</li>
                        <li>remote control through apps on mobile devices</li>
                    </ul>
                </td>
            </tr>
            <tr class="border-b ">
                <td class="border-r w-1/2 p-8">Cannot read text on packaging (toothpaste, shampoo, cleaners, food, drinks)</td>
                <td class="p-8">embossed braille on products helps consumers in-store and at home</td>
            </tr>
            <tr class="border-b ">
                <td class="border-r w-1/2 p-8">Cannot read money to determine its value</td>
                <td class="p-8">
                     <ul class="list-disc ml-8">
                        <li>apps can identify the value through photographs</li>
                        <li>paper bills and coins can have different sizes, shapes or textures to help distinguish its value</li>
                        <li>cashless payment systems via computers, mobile devices, or in-store hardware that has voice output and screen readers</li>
                    </ul>
                </td>
            </tr>
            <tr class="border-b ">
                <td class="border-r w-1/2 p-8">Cannot read printed materials</td>
                <td class="p-8">
                     <ul class="list-disc ml-8">
                        <li>optical character recognition software</li>
                        <li>conversion to digital format</li>
                        <li>conversion to braille</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Low Vision</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">People with low vision can still see, but their vision is highly reduced even with corrective lenses. The term "low vision" encompasses a wide range of conditions, each with its own degree of vision loss. People with low vision often can't see well enough to drive or clearly discern details without enlarging text and images. Here are just a few types of low vision: </p>

    <ul class="list-disc text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8 ml-8">
        <li class="mb-4">Blur</li>
        <li class="mb-4">Blur with low contrast</li>
        <li class="mb-4">Cataracts</li>
        <li class="mb-4">Diabetic Retinopathy</li>
        <li class="mb-4">Hemianopia</li>
        <li class="mb-4">Macular Degeneration</li>
        <li class="mb-4">Retinal Detachment</li>
    </ul>

    <h3 class="text-center text-xl md:text-xl lg:text-3xl text-violet-400 mt-8 mb-8">Challenges & Solutions for People with Low Vision</h3>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">For people with low vision, reading small text on web pages can be a big challenge. People with low vision use screen magnifiers like ZoomText to enhance portions of the screen for better readability. People with low vision also use screen readers, as hearing the words can make reading small text easier.</p>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Colors can also present a challenge for people with low vision, so it's important to choose color combinations with enough contrast so that its easily readable. It's crucial to avoid using color alone to convey information since people customize colors based on what's best for them.</p>

    <table class="text-lg/loose md:text-xl/loose lg:text-2xl/loose">
        <caption class="text-[#16b6ff] bg-[#141f39] rounded-lg mb-4">Digital Environments</caption>
        <thead class="border-y">
            <tr>
                <th class="border-r w-1/2">Challenge</th>
                <th>Solutions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Small text can be hard to read</td>
                <td class="p-8">
                    <ul class="list-disc ml-8">
                        <li>screen magnifiers to enlarge items on the screen</li>
                        <li>utilities to enhance contrast, change colors and alter text to improve legibility</li>
                        <li>screen readers</li>
                        <li>self-voicing interfaces and apps on ATMs, kiosks, and transit systems</li>
                        <li>alternative large-print versions of printed materials</li>
                        <li>alternative digital versions of printed materials so that people can use their own assistive technologies to read them</li>
                    </ul>
                </td>
            </tr>
            <tr class="border-b ">
                <td class="border-r w-1/2 p-8">Low contrast can be hard to read</td>
                <td class="p-8">
                    <ul class="list-disc ml-8">
                        <li>Software or hardware options to enhance color contrast of digital text</li>
                        <li>designers and developers can choose colors with high enough contrast to easily read</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Color-Blindness</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Color-Blindness refers to the inability to distinguish between different colors, especially those with equal luminosity.</p>

    <h3 class="text-center text-xl md:text-xl lg:text-3xl text-violet-400 mt-8 mb-8">Types of Color-Blindness</h3>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">There are several types of color-blindness, the most common being red-green color-blindness. Deuteranopia and Protanopia are two common sub-types of red-green color-blindness. Tritanopia is a blue-yellow color-blindness. In some very rare cases, people inherit an insensitivity to all colors, known as Achromatopsia. <strong>Color alone should never be used to convey important information.</strong></p>

    <h3 class="text-center text-xl md:text-xl lg:text-3xl text-violet-400 mt-8 mb-8">Challenges & Solutions for People Who Are Color-Blind</h3>

    <table class="text-lg/loose md:text-xl/loose lg:text-2xl/loose">
        <caption class="text-[#16b6ff] bg-[#141f39] rounded-lg mb-4">Digital Environments</caption>
        <thead class="border-y">
            <tr>
                <th class="border-r w-1/2">Challenge</th>
                <th>Solutions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Certain color combinations can be difficult to distinguish (red-green being the most common)</td>
                <td class="p-8">Content can be designed in a way that does not depend on color as the only way to convey information</td>
            </tr>
            <tr class="border-b ">
                <td class="border-r w-1/2 p-8">Websites, browsers, and authoring tools do not let people set up color preferences</td>
                <td class="p-8">Allow for custom color combinations so that people can choose what is easiest for them to see</td>
            </tr>
        </tbody>
    </table>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Deafblindness</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Deafblindness is a sensory disability that combines both deafness and blindness. Most people who are Deaf-Blind retain some hearing and sight capabilities. </p>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">One of the only options for someone who is Deaf-Blind is a refreshable braille display. These devices have screen readers that instead of speaking the text aloud, send the line of text to a braille display. Users read the line of text then press a button to go to the next line. Braille displays can be attached to regular computers as a supplement to a main keyboard. Users often switch between the keyboard for typing and braille display for reading. </p>

    <h3 class="text-center text-xl md:text-xl lg:text-3xl text-violet-400 mt-8 mb-8">Challenges & Solutions for People Who Are Deafblind</h3>

    <table class="text-lg/loose md:text-xl/loose lg:text-2xl/loose">
        <caption class="text-[#16b6ff] bg-[#141f39] rounded-lg mb-4">Digital Environments</caption>
        <thead class="border-y">
            <tr>
                <th class="border-r w-1/2">Challenge</th>
                <th>Solutions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Digital text can not be seen</td>
                <td class="p-8">A screen reader can convert text to braille</td>
            </tr>
            <tr class="border-b ">
                <td class="border-r w-1/2 p-8">Audio can not be heard</td>
                <td class="p-8">A text transcript can be converted to refreshable braille</td>
            </tr>
            <tr class="border-b ">
                <td class="border-r w-1/2 p-8">Can not see or hear visual or auditory alerts/feedback</td>
                <td class="p-8">Provide haptic alerts/feedback</td>
            </tr>
            <tr class="border-b ">
                <td class="border-r w-1/2 p-8">Speakers can not be seen or heard</td>
                <td class="p-8">Provide tactical sign language interpretation, where signs are communicated via touch between peoples hands</td>
            </tr>
        </tbody>
    </table>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Auditory Disabilities</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Auditory disabilities include varying degrees of hearing loss, including deafness. People with this type of diability may have difficulty understanding speech and distinguishing background from foreground noise.</p>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">There are several causes of Auditory disabilities including genetics, premature birth, infections/illness, ear trauma, exposre to loud noises and aging. </p>

   <h3 class="text-center text-xl md:text-xl lg:text-3xl text-violet-400 mt-8 mb-8">Deafness vs. Deaf Culture</h3>

   <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">The term "deaf" refers to the condition of being deaf. Deaf with a capital "D" refers to Deaf Culture or Deaf Community. Those in the Deaf Community view deafness from a cultural perspective, using sign language to communicate and belonging to a specific culture. Those in the Deaf Community view deafness using the <a class="underline underline-offset-8 text-violet-400 hover:text-white" href="/posts/social-id-cultural-affiliation">Social Identity or Cultural Affiliation Model of Disability</a>.</p>

   <h3 class="text-center text-xl md:text-xl lg:text-3xl text-violet-400 mt-8 mb-8">Challenges & Solutions for People Who Are Deaf or Hard-of-Hearing</h3>

    <table class="text-lg/loose md:text-xl/loose lg:text-2xl/loose">
        <caption class="text-[#16b6ff] bg-[#141f39] rounded-lg mb-4">Digital Environments</caption>
        <thead class="border-y">
            <tr>
                <th class="border-r w-1/2">Challenge</th>
                <th>Solutions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">The audio portion of videos cannot be heard</td>
                <td class="p-8">
                    <ul class="list-disc ml-8">
                        <li>Provide captions with videos</li>
                        <li>Provide sign language interpretation</li>
                    </ul>
                </td>
            </tr>
            <tr class="border-b ">
                <td class="border-r w-1/2 p-8">Audio content cannot be heard</td>
                <td class="p-8">
                    <ul class="list-disc ml-8">
                        <li>Provide a transcript</li>
                        <li>Provide sign language interpretation</li>
                        <li>Provide real-time captions or CART (Communication Access Realtime Translation)</li>
                        <li>Provide real-time transcriptions of what is said or STTR (Speech to Text Reporter)</li>
                        <li>Ensure captions for videos and recordings are available and usable</li>
                    </ul>
                </td>
            </tr>
            <tr class="border-b ">
                <td class="border-r w-1/2 p-8">Speeches and talks cannot be heard by deaf people in the room</td>
                <td class="p-8">
                    <ul class="list-disc ml-8">
                        <li>Provide live captions</li>
                        <li>Prove sign language</li>
                        <li>Provide assistive listening systems in auditoriums and meeting rooms</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

</section>