---
title: Types of Disabilities - Part 2
postDate: "13 January 2026"
tags: 
    - auditory
    - mobility
    - dyslexia
    - speech
    - dyscalculia
---

<section class="flex flex-col">

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">This is Part 2 of the Types of Disabilities section of the exam prep. In Part 2, I'll discuss the following types:</p>

    <ul class="list-disc text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8 ml-8">
        <li class="mb-4">Mobility, Flexibility, and Body Structure</li>
        <li class="mb-4">Cognitive</li>
        <li class="mb-4">Dyslexia/Reading</li>
        <li class="mb-4">Dyscalculia/Math</li>
        <li class="mb-4">Speech and Language</li>
        <li class="mb-4">Seizure</li>
        <li class="mb-4">Psychological</li>
        <li class="mb-4">Complex</li>
    </ul>
    
    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Mobility, Flexibility, & Body Structure</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Mobility disabilities affect a persons ability to move independently. People who have a mobility disability have trouble moving parts of their body and can have trouble walking without an assistive device. This type of disability can be present from birth, due to aging, or result of a disease. Mobility disabilities can be temporary, permanent, or recur. According to the CDC, 11% of adults in the US have mobility disability of some kind.</p>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">A person with mobility disabilities may have difficulty with fine motor control. For example, tieing shoes, using a mouse can be difficult for someone with hand tremors. Assistive technologies help people with mobility, for example vertical keyboards with a mouth stick, one-handed keyboards, expanded keyboards with raised sections and speech recognition software.</p>


   <h3 class="text-center text-xl md:text-xl lg:text-3xl text-violet-400 mt-8 mb-8">Challenges & Solutions for People with Mobility Disabilities</h3>

    <table class="text-lg/loose md:text-xl/loose lg:text-2xl/loose">
        <caption class="text-[#16b6ff] bg-[#141f39] rounded-lg mb-4">Digital Environments</caption>
        <thead class="border-y">
            <tr>
                <th class="border-r w-1/2">Challenge</th>
                <th>Solutions</th>
            </tr>
        </thead>
        <tbody>
            
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">May need more time to interact with digital interfaces due to slow movement</td>
                <td class="p-8">Alerts for session timeouts and ways for users to adjust, extend, or turn off the time limit</td>
            </tr>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Difficulty with small or tightly grouped touch targets</td>
                <td class="p-8">Ensure touch targets have are big enough to easily hit</td>
            </tr>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Unable to use a mouse</td>
                <td class="p-8">
                    <ul class="list-disc ml-8">
                        <li>Alternative keyboards, mouth sticks, single switch devices, speech recognition software</li>
                        <li>Ensure digital content is keyboard accessible</li>
                    </ul>
                </td>
            </tr>
            
            
        </tbody>
    </table>

    <table class="text-lg/loose md:text-xl/loose lg:text-2xl/loose mt-32">
        <caption class="text-[#16b6ff] bg-[#141f39] rounded-lg mb-4">Physical Environments</caption>
        <thead class="border-y">
            <tr>
                <th class="border-r w-1/2">Challenge</th>
                <th>Solutions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Steps for wheelchair users</td>
                <td class="p-8">
                    <ul class="list-disc ml-8">
                        <li>Outside: Ramps in addition to steps and accessible parking</li>
                        <li>Inside: Ramps and elevators are available</li>
                        <li>Clearly labelled accessible routes inside and outside the building</li>
                    </ul>
                </td>
            </tr>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Tight spaces for wheelchair users</td>
                <td class="p-8">
                    <ul class="list-disc ml-8">
                        <li>Wide doors, hallways, rooms and restrooms.</li>
                        <li>Hallways and routes should be kept obstacle free</li>
                    </ul>
                </td>
            </tr>
             <tr class="border-b">
                <td class="border-r w-1/2 p-8">Seating that is too small or at the wrong height</td>
                <td class="p-8">Seating should accommodate all body sizes</td>
            </tr>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Difficulty using hands/arms to open doors</td>
                <td class="p-8">
                    <ul class="list-disc ml-8">
                        <li>Automatic doors</li>
                        <li>Doors with lever-type handles/doorknobs</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="text-lg/loose md:text-xl/loose lg:text-2xl/loose mt-32">
        <caption class="text-[#16b6ff] bg-[#141f39] rounded-lg mb-4">Consumer Products</caption>
        <thead class="border-y">
            <tr>
                <th class="border-r w-1/2">Challenge</th>
                <th>Solutions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Unable to turn pages of printed materials</td>
                <td class="p-8">Alternative digital versions so people can use their own assistive tech</td>
            </tr>
        </tbody>
    </table>

    <table class="text-lg/loose md:text-xl/loose lg:text-2xl/loose mt-32">
        <caption class="text-[#16b6ff] bg-[#141f39] rounded-lg mb-4">General</caption>
        <thead class="border-y">
            <tr>
                <th class="border-r w-1/2">Challenge</th>
                <th>Solutions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Trouble with tasks that require fine motor skills, accuracy or strength</td>
                <td class="p-8">Provide alternatives like a automatic door</td>
            </tr>
        </tbody>
    </table>
    
    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Cognitive</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Cognitive disabilities arise as a result of conditions that a person has from birth. They can result from injury, infection, chemical imbalances, or other conditions a person develops later in life. Theres no one way to describe cognitive disabilities, as they can affect one or more mental functions by different degrees. Some examples of Cognitive Disabilities are:</p>

    <ul class="list-disc text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8 ml-8">
        <li class="mb-4">Non-Verbal Learning Disability</li>
        <li class="mb-4">Autism</li>
        <li class="mb-4">ADHD</li>
    </ul>

    <h3 class="text-center text-xl md:text-xl lg:text-3xl text-violet-400 mt-8 mb-8">Challenges & Solutions for People with Cognitive Disabilities</h3>

    <table class="text-lg/loose md:text-xl/loose lg:text-2xl/loose">
        <caption class="text-[#16b6ff] bg-[#141f39] rounded-lg mb-4">Digital Environments</caption>
        <thead class="border-y">
            <tr>
                <th class="border-r w-1/2">Challenge</th>
                <th>Solutions</th>
            </tr>
        </thead>
        <tbody>
            
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">May find complex designs and tasks overwhelming</td>
                <td class="p-8">Create simple, predictable, organized designs and simplify user components</td>
            </tr>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Difficulty solving technical problems or fixing errors</td>
                <td class="p-8">Ensure users are alerted to errors and provide clear solutions</td>
            </tr>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Difficulty processing information, especially text-based with complex language</td>
                <td class="p-8">
                    <ul class="list-disc ml-8">
                        <li>Supplement text with images</li>
                        <li>Use simple, easy to understand language</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Dyslexia</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">People with dyslexia have  high levels of cognitive functioning, but difficulty with reading words. Many describe their experience of reading as letters moving around, swapping in and out of place.</p>

    <h3 class="text-center text-xl md:text-xl lg:text-3xl text-violet-400 mt-8 mb-8">Challenges & Solutions for People with Dyslexia</h3>

    <table class="text-lg/loose md:text-xl/loose lg:text-2xl/loose">
        <caption class="text-[#16b6ff] bg-[#141f39] rounded-lg mb-4">Digital Environments</caption>
        <thead class="border-y">
            <tr>
                <th class="border-r w-1/2">Challenge</th>
                <th>Solutions</th>
            </tr>
        </thead>
        <tbody>
            
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Difficulty understanding content as it's presented</td>
                <td class="p-8">Allow people to apply a custom style sheet</td>
            </tr>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Difficulty solving CAPTCHA</td>
                <td class="p-8">Allow people to change the type of security check presented</td>
            </tr>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Difficulty spelling words correctly</td>
                <td class="p-8">Spelling or grammar checkers</td>
            </tr>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Difficulty processing visual content</td>
                <td class="p-8">
                    <ul class="list-disc ml-8">
                        <li>Screen readers</li>
                        <li>Additional time to complete tasks</li>
                    </ul>
                </td>
            </tr>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Require additional time to read and process content</td>
                <td class="p-8">
                    <ul class="list-disc ml-8">
                        <li>Extended time-outs</li>
                        <li>Screen readers to get text in an auditory mode to reinforce what is being seen</li>
                        <li>Screen readers that highlight words</li>
                        <li>Enhancing visible focus</li>
                        <li>Allow ample time to complete tasks</li>
                        <li>Use special programs that present words with pictures</li>
                    </ul>
                </td>
            </tr>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Often see p, b, d, q as the same letter</td>
                <td class="p-8">Allow people to customize fonts, contrast, or add underlines</td>
            </tr>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Often see words as floating</td>
                <td class="p-8">Use the font developed for Dyslexia</td>
            </tr>
        </tbody>
    </table>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Dyscalculia</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">People with dyscalculia are unable to understand arithmetic and how to calculate. Some people experience math anxiet along with dyscalculia, which is an emotional or psychological fear that prevents them from performing math calculations.</p>

     <h3 class="text-center text-xl md:text-xl lg:text-3xl text-violet-400 mt-8 mb-8">Challenges & Solutions for People with Dyscalculia</h3>

    <table class="text-lg/loose md:text-xl/loose lg:text-2xl/loose">
        <caption class="text-[#16b6ff] bg-[#141f39] rounded-lg mb-4">Digital Environments</caption>
        <thead class="border-y">
            <tr>
                <th class="border-r w-1/2">Challenge</th>
                <th>Solutions</th>
            </tr>
        </thead>
        <tbody>
            
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Unable to distinguish right from left in graphic images</td>
                <td class="p-8">
                    <ul class="list-disc ml-8">
                        <li> Provide data in a table or text description</li>
                        <li>Additional time to complete tasks</li>
                        
                    </ul>
                </td>
                <td class="p-8"></td>
            </tr>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Unable to copy graphs, figures, and diagrams</td>
                <td class="p-8">Use text-to-speech to verbalize instructions</td>
            </tr>
            <tr class="border-b">
                <td class="border-r w-1/2 p-8">Unable to preform calculations</td>
                <td class="p-8">Use a reference sheet with common equations or an on screen calculator</td>
            </tr>
        </tbody>
    </table>




    


    

</section>