---
title: Universal Design for the Web
postDate: "16 February 2026"
tags: 
    - universal-design

---

<section class="flex flex-col">

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Universal Design is a broad concept with the goal of creating designs for a wide range of people of all abilities. Universal design can be utilized to make web content accessible to a wide range of people.</p>
    
    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Images</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Images are useless to blind people, and providing text alternatives is a good way to make them accessible. Adding alt text via the alt attribute in HTML gives an added bonus in the case where the image isn't available, alt text will show in it's place. Without alt text, screen readers will skip the image.  </p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Color &amp; Contrast</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Don't rely on color alone to convey meaning. Not all people can see color, so colors should be supplemented with text-based information that doesn't require vision. Ensure color contrast is sufficient enough to allow the text to be easily read. </p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Video &amp; Audio</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Provide synchronized captions for the deaf, synchronized audio descriptions for the blind and text transcript for those who are both deaf and blind. </p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Links</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Ensure link text clearly explains the destination or purpose of the link. Screen reader users often tab through the links on a page or use a keyboard shortcut to pull up a list of links. It's one way to skim through content to find out what navigation options are available to them. Good link text makes links more readable for everyone, including people with cognitive disabilities.</p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Headings</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Using headings creates a properly structured outline of the page content. This helps to organize content and improves navigation for screen readers. Screen readers have shortcuts that allows users to jump between headings, skipping over content that may not be relevant for the user. This only works if real headings (h1, h2, h3, etc.) are used. </p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Keyboard Accessibility</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">All functionality should also be keyboard accessible. Tab order should also be logical and the focus indicator is always visible to sighted keyboard users.</p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Tables</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Data cells should always be associated with header cells and screen reader users should be able to navigate effectively within tables. Without this association, screen readers will just read the content of the data cell without giving it any context. </p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Forms</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Form elements need labels to be accessible. The easiest way to do so is to use the "for" and "id" attributes on a label element and input element. </p>
    

</section>