---
title: Usability & Accessibility
postDate: "23 February 2026"
tags: 
    - usability
    - a11y

---

<section class="flex flex-col">

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Usability in the web design determines how useful and easy a user interface (UI) is to use. Usability addresses:</p>

    <ul class="list-disc text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8 ml-8">
        <li class="mb-4">how easy it is for users to learn the tasks of the UI</li>
        <li class="mb-4">if users can perform those tasks quickly</li>
        <li class="mb-4">if users can recall performing those tasks after some time away from the interface</li>
        <li class="mb-4">the number, severity, and recovery of errors in the interface</li>
        <li class="mb-4">if the design satisfies users</li>
    </ul>
    
    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Commonalities</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">Accessibility and usability overlap when a product is usable by everyone, regardless of their abilities. For example, using high-contrast colors not only helps people with colorblindess or low vision, but also people who are in bright sunlight. Or ensuring webpages are keyboard accessible helps people with motor disabilities and those without a disability who prefer to use keyboard strokes to navigate a page.</p>

    <h2 class="font-bold text-center text-xl md:text-3xl lg:text-4xl text-violet-400 mt-32 mb-8">Differences</h2>

    <p class="text-lg/loose md:text-xl/loose lg:text-2xl/loose max-w-prose mb-8">It's often hard to tell the difference between accessibility and usability because there are many similarities. Usability issues tend to affect every user, while accessibility issues occur when people with disabilities encounter barriers to accessing a product or service. Importantly, what is technically accessible, may not be useful. For example, every image on a webpage contains very long alt text. Although these images are WCAG compliant, listening to long alt text can become tedious.</p>

   
    

</section>