@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", sans-serif;
    background-color: hsl(222, 46%, 11%);
    color: hsl(0 0% 100%);
}

h1 {
    position: relative;
    padding: 0 5rem;
    text-shadow: 4px 3px hsl(222 47% 11%);
}

h1::before {
    content: "";
    position:  absolute;
    inset: 0;
    background-color: hsla(180, 100%, 50%, 0.212);
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: rotate(-4deg) skew(-21deg);
}
